*{
    margin:0;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: rgb(255, 204, 0); 
    --primary: rgb(255, 255, 226); 
    --black: rgb(20, 20, 20);
    --white: rgb(255, 255, 255);
    --bg: rgb(242, 242, 242);   
    --light-black: rgb(102, 102, 102);
    --font-size: 1.5rem;
    --spacing: 16ox
}

#back{
    height:100vh;
    width:100vw;
    background-color: #2b2d42;
}
#b-main{
    height: 68vh;
    width: 54vw;
    background-color: #ffd60a;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    position: absolute;
    top:15%;
    left:27%;
    display:flex;
}
#left{
    height:100%;
    width:45%;
}
#right{
    height:100%;
    width:55%;  
}
#get{
    height:10%;
    width:auto;
    font-size: xx-large;
}
#feel{
    height:5%;
    width:auto;
    font-size: medium;
}
#type{
    height:69%;
    width: 85%;
    display: flex;
    flex-direction:column;
}
#name{
    height:40px;
    width: auto;
    padding-inline: 25px;
    background-color: #ffd60a;
    border:0.2px solid black;
}
#email{
    height:40px;
    width: auto;
    padding-inline: 25px;
    background-color: #ffd60a;
    border:0.2px solid black;
}
#message{
    height:120px;
    width: auto;    
    background-color: #ffd60a;
    border:0.2px solid black;
    padding: 10px 0 0 10px;
}
#send{
    background-color: #7209b7;
    border:none;
    color:white;
    height:50px;
    width:130px;
    border-radius: 30px;
    font-size: larger;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
#send:hover{
    scale:1.1;
}
input{
    outline:none;
}
textarea{
    outline: none;
}
#f-main{
    height:58vh;
    width:25vw;
    position:absolute;
    top:20%;
    left:22%;
    background-color:black;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    position: absolute;
    display: flex;
    flex-direction: column;
}
#contact{
    height: 20%;
    width:auto;
    color:white;
    font-size: xx-large;
    padding:25px 0 0 25px;
}
#details{
    height:75%;
    width:auto;
    padding:2px 0 0 30px;
}
.fa-location-dot{
    color:white;
    font-size: x-large;
}
.fa-envelope{
    color:white;
    font-size: x-large;
}
.fa-phone{
    color:white;
    font-size: x-large;
}
.fa-instagram{
    color:white;
    font-size: xx-large;
}