@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: rgb(255, 204, 0); 
    --primary: rgb(255, 255, 226); 
    --black: rgb(20, 20, 20);
    --white: rgb(255, 255, 255);
    --bg: rgb(242, 242, 242);   
    --light-black: rgb(102, 102, 102);
    --font-size: 1.5rem;
    --spacing: 16ox
}



*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}




html::-webkit-scrollbar-track{
    background: var(--white);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 4rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border: .1rem solid var(--main-color);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--main-color);
}

.btn:hover{
    background: var(--main-color);
    color: var(--white);
}
.header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--primary);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.header .logo{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--main-color);
}

.header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--main-color);
    display: none;
}



.chatbot {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 70px;
    transition: all 0.3s ease-in-out;
}

.chatbot header {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.chatbox {
    height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}

.chat {
    display: flex;
    align-items: flex-end; 
    margin-bottom: 10px;
}

.chat .material-symbols-outlined {
    margin-right: 10px; 
  }
  
  .chat .material-symbols-outlined img {
    width: 40px; 
  }

.chat outgoing {
    justify-content: flex-end;
}

.chat incoming {
    justify-content: flex-start;
}

.chat p {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0;
}

.chat-input {
    display: flex;
    margin-top: 20px;
}

.chat-input textarea {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--white);
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    padding: 1rem;
    transition: background-color 0.3s ease;
  }
  
  #chat-icon:hover {
    background-color: var(--main-color);
    color: var(--white);
  }
  
.chatbot {
    display: none;
}

#send-btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/home.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home .content{
    max-width: 60rem;
    text-align: center;
}

.home .content .healthy{
    
    -webkit-text-stroke: 0.4px rgb(255, 204, 0);
    color: var(--white);

}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white);
    padding-bottom: 3.5rem;
}

.home .content .healthy:hover{
    color: var(--main-color);
    cursor: pointer;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.about .row .content p{
    font-size: 1.6rem;
    color: var(--light-black);
    padding: 2rem 0;
    line-height: 2;
}

.about .row .image{
    flex: 1 1 40rem;
}


.about .row .image img{
    width: 100%;
}

.services{
    background: var(--bg);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin-top: 8rem;
}

.services .box-container .box{
    text-align: center;
    padding: 3rem;
    background: var(--white);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    border-radius: 1rem;
    margin-bottom: 8rem;
}

.services .box-container .box:hover,
.services .box-container .box:hover .icon{
    background: var(--primary);

}

.services .box-container .box .icon{
    width: 13rem;
    height: 13rem;
    line-height: 13rem;
    background: var(--white);
    border-radius: 50%;
    margin: -11rem auto 2rem;
    border: 1.8rem solid var(--bg);
}

.services .box-container .box .icon img{
    width: 5rem;
    margin-top: 2rem;
}

.services .box-container .box .content h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.services .box-container .box .content .line{
    background: var(--main-color);
    width: 30%;
    height: .4rem;
    margin: 2rem auto;
    border-radius: 5rem;

}

.services .box-container .box .content p{
    font-size: 1.4rem;
    color:var(--black);
    line-height: 2;
    
}

.services .box-container .box .content ul{
        margin:2rem;
        list-style: none;
}

.services .box-container .box .content ul li{
    padding: .5rem;
    font-size: 1.4rem;
    color: var(--black);
}

.services .box-container .box .content ul li i{
    font-size: 1.4rem;
    color: var(--white);
    padding: .5rem;
    margin-right: 1rem;
    background: var(--main-color);
    border-radius: 50%;
}

.diet .controls{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    gap: 1.5rem;
    list-style: none;
}

.diet .controls .buttons{
    padding: 3rem 2rem;
    background: var(--white);
    cursor: pointer;
    margin-bottom: 3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 1rem;
}

.diet .controls .buttons img{
    height: 6rem;
}

.diet .controls .buttons h3{
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--light-black);
}

.diet .controls .buttons.active{
    background: var(--primary);
}

.diet .image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
}

.diet .image-container .box{
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1 rem rgba(0,0,0,0.1);
    overflow: hidden;
}



.diet .image-container .box:hover .image img{
    transform: scale(1.1);
}

.diet .image-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.diet .image-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.diet .image-container .box .content{
    padding: 2rem;
}

.diet .image-container .box .content .link{
    font-size: 2rem;
    color: var(--main-color);
}

.diet .image-container .box .content p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
}

.diet .image-container .box .content .icon{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.diet .image-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-black);
}

.diet .image-container .box .content .icon a:hover{
    color: var(--main-color);
}

.diet .image-container .box .content .icon a i{
    padding-right: .5rem;
    color: var(--main-color);
}

.pricing{
    background: var(--bg);
    padding-bottom: 8rem;
}

.pricing .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 6rem;
}

.pricing .box-container .box{
    height: 55rem;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
    background: var(--white);
}

.pricing .box-container .box:hover{
    transform: scale(1.1);
    background: var(--primary);
}
.pricing .box-container .active{
    background: var(--primary);
    transform: scale(1.1);
}

.pricing .box-container .active.active:hover{
    transform: scale(1.2);
    background: var(--white);
}

.pricing .box-container .title{
    margin: 3rem 0;
    font-size: 2.2rem;
    color: var(--black);
    text-transform: uppercase;
}

.pricing .box-container .box .price{
    color: var(--main-color);
    margin-bottom: 5rem;

}

.pricing .box-container .box .price .currency{
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 300;
}

.pricing  .box-container .box .price .amount{
    font-size: 5.8rem;
    line-height: 4.5rem;
    font-weight: 700;
}

.pricing .box-container .box .price .duration{
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .2rem;

}

.pricing .box-container .box ul{
    margin: 0 auto 2.5rem;
}

.pricing .box-container .box ul li{
    text-align: center;
    font-size: 1.6rem;
    padding-left: 3rem;
    margin: 1rem auto;
    color: var(--light-black);
}

.pricing .box-container .box ul li i{
    color: var(--main-color);
    padding: 0 1rem;
}

.pricing .box-container .box p{
    font-size: 1.6rem;
    color: var(--light-black);
    margin: 2rem auto;
    text-align: left;
    padding-left: 3.8rem;

}

.reviews .slide p{
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    background: var(--primary);
    border-radius: 0.5rem;
    color: var(--black);
    line-height: 2;
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;
}

.reviews .slide p ::before {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: .7rem;
    height: 3rem;
    width: 3rem;
    background: var(--primary);
    transform: rotate(45deg);
}

.reviews .slide .user{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.reviews .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.reviews .slide .user h3{
    font-size: 2rem;
    color: var(--black);
}

.reviews .slide .user  span{
    color: var(--main-color);
    font-size: 1.5rem;
}


.swiper {
    width: 1200px;
    height: 400px;
  }

.newsletter{
    background: url(images/newsletter.jpg)  no-repeat center / cover ;  
    margin-bottom: 100px;
    z-index: 22;
}

.newsletter .content{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
}

.newsletter .content p{
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-black);
}

.newsletter .content form{
    margin-top: 2rem;
    background: var(--white);
    border-radius: .5rem;
    border: .2rem solid var(--main-color);
    padding: .8rem;
    display: flex;
}

.newsletter .content form .email{
    width: 100%;
    font-size: 1.6rem;
    color: var(--main-color);
    padding: 0 1.3rem;
    text-transform: capitalize;
}

.newsletter .content form .btn{
    margin-top: 0;
    background: none;
}

.newsletter .content form .btn:hover{
    background: var(--main-color);
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Styles for the footer section */
  .footer {
    /* position: relative;  */
    /* min-height: 500px; Set minimum height to cover the viewport */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    color: #333; /* Set text color */
    justify-content: center;
    align-items: center;
    margin-top: -322px;
    
  }
  
  /* Styles for the box-container (grid layout for footer content) */
  .footer .box-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 20px;
    z-index: 1; Ensure content is above animation */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  /* Styles for heading (h3) within each box */
  .footer .box-container .box h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: var(--main-color); /* Use your custom color variable */
  }
  
  /* Styles for links (a) within each box */
  .footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--black); /* Use your custom color variable */
    padding: 1rem 0;
  }
  
  /* Styles for icon (i) within links */
  .footer .box-container .box a i {
    color: var(--main-color); /* Use your custom color variable */
    padding-right: 0.5rem;

  }
  
  /* Hover styles for icon within links */
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }

  .footer .box-container .box {
    margin: 130px;
    margin-top: 200px;
  }
  
/* Styles for the animation container */
/* Styles for the animation container */
.footer .animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}



#ani{
    width: 100%;
    height: auto;
    position: absolute;
}  
  


@media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }

    section{
        padding: 3rem 5rem;
    }
}

@media(max-width:768px){
    #menu{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left:0;
        right:0;
        background: var(--primary);
        border-top: .1rem solid #aaa;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        color: var(--light-black);
    }
}

@media(max-width:500px){
    html{
        font-size: 50%;
    }

    .newsletter .content{
        max-width: 100%;
    }
}
